<%- include header.ejs %>
<div class="con-right-post">
    <% posts.forEach(function(post, index){ %>
    <div class="post-info">
        <p class="info">
            <a href="/u/<%= post.name %>"><%= post.name %></a>
            <b>·</b>
            <%= post.time.minute %>
            <% post.tags.forEach(function(tag, index){ %>
            <% if (tag) { %>
            <b>·</b>
            <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
            <% } %>
            <% }) %>
        </p>
        <p><h3  class="info-title"><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a> </h3></p>
        <p class="post-pv">
            阅读:<%= post.pv %>
            <b>·</b>
            转载:
            <% if (post.reprint_info.reprint_to) { %>
            <%= post.reprint_info.reprint_to.length %>
            <% } else { %>
            <%= 0 %>
            <% } %>
            <% if (post.reprint_info.reprint_from) { %>
            <b>·</b>
            <a href="/u/<%= post.reprint_info.reprint_from.name %>/<%= post.reprint_info.reprint_from.day %>/<%= post.reprint_info.reprint_from.title %>">原文链接</a>
            <% } %>
        </p>
    </div>
    <% }) %>
</div>
<%- include footer.ejs %>